<div class="container">
    <h1>{{ header }}</h1>
    <ul class="cd-faq-categories">
        <li><a class="selected" href="#basics">Вопросы</a></li>
        <li><a href="#themes">Темы</a></li>
        <li><a href="#blocked">Запрещённые слова</a></li>
        <li><a href="#account">Администраторы</a></li>
    </ul> <!-- cd-faq-categories -->
</div>

<div class="container-fluid">
    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Почта</th>
                <th>Вопрос</th>
                <th>Ответ</th>
                <th>Категория</th>
                <th></th>
            </tr>
            {% for question in questions['unanswered'] %}
                <tr>
                    <form action="{{ thisHost }}?/admin/edit" method="POST">
                        <td>{{ question['id'] }}<input type="hidden" value="{{ question['id'] }}" name="unanswered">
                        </td>
                        <td>
                            <input type="text" name="name" value="{{ question['name'] }}">
                        </td>
                        <td>
                            <input type="text" name="email" value="{{ question['email'] }}">
                        </td>
                        <td>
                        <textarea name="question" cols="40"
                                  rows="3">{{ question['question'] }}</textarea>
                        </td>
                        <td>
                            <textarea name="answer" cols="40" rows="3"></textarea>
                        </td>
                        <td>
                            <select name="category">
                                <option value="0">Выберите котегорию</option>
                                {% for category in categories %}
                                    <option value="{{ category['id'] }}"
                                            {% if question['category'] == category['id'] %}
                                    selected
                                            {% endif %}>
                                        {{ category['title'] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Сохранить" name="updateQuestion">
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Почта</th>
                <th>Вопрос</th>
                <th>Ответ</th>
                <th>Категория</th>
                <th>Запрещенные слова</th>
                <th></th>
            </tr>
            {% for question in questions['blocked'] %}
                <tr>
                    <form action="{{ thisHost }}?/admin/edit" method="POST">
                        <td>{{ question['id'] }}<input type="hidden" value="{{ question['id'] }}" name="blocked"></td>
                        <td>
                            <input type="text" name="name" value="{{ question['name'] }}">
                        </td>
                        <td>
                            <input type="text" name="email" value="{{ question['email'] }}">
                        </td>
                        <td>
                        <textarea name="question" cols="40"
                                  rows="3">{{ question['question'] }}</textarea>
                        </td>
                        <td>
                            <textarea name="answer" cols="40" rows="3"></textarea>
                        </td>
                        <td>
                            <select name="category">
                                <option value="0">Выберите котегорию</option>
                                {% for category in categories %}
                                    <option value="{{ category['id'] }}"
                                            {% if question['category'] == category['id'] %}
                                    selected
                                            {% endif %}>
                                        {{ category['title'] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            {% for word in dictionary %}
                                {% if word['id'] in question['words'] %}
                                    {{ word['word'] }}<br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <input type="submit" value="Сохранить" name="updateQuestion">
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>