<header>
    <h1>{{ header }}</h1>
</header>
{% if data['success'] %}
    <p style="color: #a9c056">{{ data['success'] }}</p>
    <p><a href="/">Вернутся назад</a></p>
{% else %}
    <p style="color: #dd4444">{{ error }}</p>
    <div>
        <form method="POST">
            <input type="text" name="nameUser" placeholder="Андрей" value="{{ data['nameUser'] }}"><br>
            <input type="email" name="emailUser" placeholder="andrey@domin.com" value="{{ data['emailUser'] }}"><br>
            <select name="categoryUser">
                <option value="0">Выберите котегорию</option>
                {% for category in categories %}
                    <option value="{{ category['id'] }}"
                            {% if data['categoryUser'] == category['id'] %}
                    selected
                            {% endif %}>
                        {{ category['title'] }}</option>
                {% endfor %}
            </select><br>
            <textarea name="questionUser" cols="40" rows="3" value="{{ data['questionUser'] }}"
                      placeholder="Напишите свой вопрос, не более 1000 символов"></textarea><br>
            <input type="submit" name="goQuestion">
        </form>
    </div>
{% endif %}